#foot
  .sg-36
    .sg-1
    .sg-9
      %h4 Common
      %ul
        - if session_user
          %li
            %a{:class => "", :href => session_user.profile_url} Your Profile
        - else
          %li
            %a{:class => "", :href => AuthController.r(:login, :ruri => request.request_uri)} Login
        %li
          %a{:class => "", :href => BoardController.r(:categories)} Categories
    .sg-9
      %h4 Stories
      %ul
        %li
          %a{:class => "", :href => PhreadController.r(:recent)} Recent Stories
        %li
          %a{:class => "", :href => PhreadController.r(:top)} Top Stories
        %li
          %a{:class => "", :href => PhreadController.r(:my)} Yours
        %li
          %a{:class => "", :href => PhreadController.r(:my, :friends)} Friends
    .sg-9
      %h4 Used Software
      %ul.aff
        %li
          %a{:href => "//www.linux.org"}
            %img{:src => "/img/aff/linux.png", :width => 32, :height => 32}
        %li
          %a{:href => "//www.ruby-lang.org"}
            %img{:src => "/img/aff/ruby.png", :width => 32, :height => 32}
        %li
          %a{:href => "//www.github.com"}
            %img{:src => "/img/aff/github.png", :width => 32, :height => 32}
        %li
          %a{:href => "//git-scm.com"}
            %img{:src => "/img/aff/git.png", :width => 32, :height => 32}
        %li
          %a{:href => "//www.gnu.org/software/emacs/"}
            %img{:src => "/img/aff/emacs.png", :width => 32, :height => 32}
        %li
          %a{:href => "//www.mysql.com/"}
            %img{:src => "/img/aff/mysql.png", :width => 32, :height => 32}            
  .div{:style => "clear:both"}
  .license
    .sg-36        
      .sg-5
      .sg-25  
        %p
          = render_file "view/license/ccas30.html"
    .div{:style => "clear:both"}
