#top
  #help
    %span
      %a{:href => BoardController.r(:help), :class => "awesome silver", :id => :helplink} Help
  - if session_user
    #usermenu
      .name= session_user.display_name
      %ul
        %li.own{:class => "awesome silver"}
          %a{:href => AuthController.r(:logout)} Logout
        %li.own{:class => "awesome"}
          %a{:href => PhreadController.r(:my)} My Stories
        %li.liked{:class => "awesome"}
          %a{:href => PhreadController.r(:my, :liked)} My Liked Stories
  - else
    #login-link
      %a{:class => "awesome", :href => AuthController.r(:login, :ruri => request.request_uri)} Login
