#top
  #help
    %span
      %a{:href => BoardController.r(:help), :class => "awesome silver", :id => :helplink} Help
  - if session_user
    #usermenu
      %ul
        %li.createst{:class => "awesome silver"}
          %a{:href => BoardController.r(:create)} Create Story
        %li.me{:class => "awesome silver"}
          %a{:href => session_user.profile_url}= session_user.display_name
        %li.own{:class => "awesome silver"}
          %a{:href => PhreadController.r(:my)} My Stories
        %li.liked{:class => "awesome silver"}
          %a{:href => PhreadController.r(:my, :liked)} My Liked Stories
        - if session_user.authorized?          
          %li.mod{:class => "awesome silver"}
            %a{:href => ModController.r} Moderation
        %li.logout{:class => "awesome silver"}
          %a{:href => AuthController.r(:logout)} Logout
  - else
    #login-link
      %a{:class => "awesome silver", :href => AuthController.r(:login, :ruri => request.request_uri)} Login
    #usermenu
      %ul
        %li.createst{:class => "awesome silver", :style => "margin-right:100px"}
          %a{:href => BoardController.r(:create)} Create Story

