.box.mliked
  %h3 Most Liked Stories
  = TIcon(:favorites, :light, 42, 42)
  %ul.inv
    - @recent_stories.each do |phread|
      %li
        %a{:href => phread.url}= phread.title
        by
        %em
          %a{:href => phread.op.profile_url}= phread.op.display_name
