.box.story
  %h3 Recent Stories
  = TIcon(:update, :light, 42, 42)
  %ul
    - @recent_stories.each do |phread|
      %li
        %a{:href => phread.url}= phread.title
        by
        %em
          %a{:href => phread.op.profile_url}= phread.op.display_name
