.thread
  // .vote
  //   &uarr;
  .title
    %a{:href => BoardController.r(@phread.url)}= @phread.title
  .from= "by " + @phread.from.profile_link
  .date{:title => @phread.created_at }= ", " + @phread.created_at.to_s(false)
  // .more
  //   &darr;
  .count{:title => "#{@phread.phreads.size} Childs"}= @phread.phreads.size
  
