%tr
  %td.main
    .add
      .info{:title => "#{@cat.phreads.size} Posts"}= @cat.phreads.size
    .title
      %a{:href => BoardController.r(@cat.id)}= @cat.title
    .img
      %img{:src => "/img/nopic.png", :height => 60, :width => 60}
    .desc
      = @cat.description
  %td{:class => :modlist}= @cat.mods.map(&:email).join(", ")
  
