%h1= @category.title
.backlink
  &larr;
  = @category.link
  &crarr;
  %a{:class => "awesome small silver blink", :href => BoardController.r(:create, :category => @category.id)} Create
#threads
  - @threads.each do |thread|
    = render_file "view/thread/_thread.haml", :phread => thread

