%div{:id => "ssearch", :class => ""}
  %form{:id => :searchform}
    %div
      == <input value="dummy" type="text" name="s" class="searchthingy" /><input id="search_simg" type="image" name="s" title="Suche" src="/img/search3.gif" />
